/* hide all scrollbars */
::-webkit-scrollbar {
    display: none;
}

/* adrod fixes */
@supports not (-webkit-touch-callout: none) {
    #TabNameString {
        margin-top: -4px !important;
    }

    .addToCalendar {
        display: none;
    }
}