/* importing fonts */
@font-face {
    font-family: "Papillon";
    src: url("fonts/Carnero Light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Papillon";
    src: url("fonts/Carnero Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Papillon";
    src: url("fonts/Carnero SemiBold.otf");
    font-weight: 600;
    font-style: normal;
}

/* setting vars */
:root {
    --brand-color: #00B562;
    --brand-color-light: #00B56222;
    --background: #FFFFFF;
    --element: #F4F4F4;
    --text: #000000;
    --text-light: #00000055;
    --border: #00000022;
}

/* setting basic CSS */
html {
    height: -webkit-fill-available;
}

* {
    font-family: "Papillon";
    -webkit-tap-highlight-color: transparent;
    text-transform: lowercase;
    -webkit-touch-callout: none;
    user-select: none !important;
}

body {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--text);
}

/* darkmode */
@media screen and (prefers-color-scheme: dark) {
    :root {
        --brand-color: #00B562;
        --background: #0f0f0f;
        --element: #181818;
        --text: #FFFFFF;
        --text-light: #ffffff55;
        --border: #ffffff22;
    }
}

#content {
    margin: 24px;
    padding-top: calc(70px - 28px);
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.list a {
    width: 100%;
}

.list.group {
    gap: 0px;
    border-radius: 12px;
    overflow: hidden;
    background: var(--element);
}

.list.group .mainItem {
    margin: 0px;
    border-radius: 0px;
}

.list.group .mainItem, .list.group a {
    border-bottom: 1px solid var(--border);
}

.list.group .mainItem:first-child , .list.group a:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.list.group .mainItem:last-child, .list.group a:last-child {
    border-bottom: none !important;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* animations */
@keyframes TabNameString {
    0% {
        transform: translateX(-15px);
        opacity: 0%;
    }
    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}

@keyframes TabNameStringUp {
    0% {
        transform: translateY(15px);
        opacity: 0%;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.notification {
    background: var(--element) !important;
    box-shadow: none !important;
    text-align: left;
    width: calc(94vw - 20px * 2) !important;
    max-width: calc(94vw - 20px * 2) !important;
    border-radius: 7px;
    padding: 12px 20px;
    font-size: 16px;
    font-variation-settings: "wght" 500;
    text-transform: none;
    bottom: calc(env(safe-area-inset-bottom) + 14px) !important;
    left: 3vw !important;
}

.notification.error {
    background: #F13232 !important;
}

.notification.success {
    background: #00B562 !important;
}

a {
    text-decoration: none;
    color: inherit;
}

#loginMain {
    --padding: 32px;

    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - var(--padding) * 2);
    height: calc(100vh - var(--padding) * 2);

    padding: var(--padding);
    padding-top: calc(env(safe-area-inset-top) + var(--padding) / 1.5);
    
    /* background: linear-gradient(16.4deg, #00B562 38.91%, #1A8DCE 100%); */
    background: var(--background);

    /* color: #fff; */
    color: var(--text);

    overflow-y: scroll;
}

#loginMain #logo {
    height: 24px;
}

@media screen and (prefers-color-scheme: dark) {
    #loginMain #logo {
        filter: invert(1);
    }
}

#loginMain .topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#loginMain .terms {
    opacity: 0.5;
    padding: 5px 10px;
    margin-right: -5px;
    margin-top: 1px;
    border-radius: 5px;
}

#loginMain h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    
    margin: 0;
    margin-top: 24px;

    color: var(--brand-color);
}

#loginMain p.desc {
    font-size: 17px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 21px;
    opacity: 0.5;
}

.vfm__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vfm__overlay {
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

@media screen and (prefers-color-scheme: light) {
    .vfm__overlay {
        background-color: rgba(202, 202, 202, 0.75) !important;
    }
}

.modal {
    width: 95vw;
    height: 60vh;
    background: var(--background);
    overflow: hidden;

    position: absolute;
    left: 2.5vw;
    bottom: calc(env(safe-area-inset-bottom) + 10px);

    border-radius: 12px;

    transition: transform 0.1s ease-in-out;
}

.modal * {
    padding: 0;
    margin: 0;
}

.modal-header {
    background: var(--element);
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-header p {
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
    margin-top: 2px;
}

.modal-header small {
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
    opacity: 0.5;
}

.modal-content {
    padding: 0px;
    height: calc(100% - 72px);
    overflow-y: scroll;
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
}

.modal-content-item {
    display: flex;
    padding: 15px 24px;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid var(--border);
}

.modal-content-item p {
    font-size: 17px;
    margin-top: 3px;
    font-weight: 700;
    color: var(--text);
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content button {
    background: var(--brand-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.quietLoading {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--border);
    overflow: hidden;
    border-radius: 300px;
    z-index: 99999999999;
}

.quietLoadingBar {
    width: 0%;
    height: 100%;
    background: var(--brand-color);
    border-radius: 300px;
    position: absolute;
    top: 0;
    left: 0;
    animation: quietLoading 1s linear infinite;
}

@keyframes quietLoading {
    0% {
        opacity: 1;
        width: 50%;
        transform: translateX(-50vw);
    }
    100% {
        width: 50%;
        transform: translateX(100vw);
    }
}