/* adding google fonts */
/* import Inter from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Inter:300,400,600');

/* import Open Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/* import Barlow from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,600');

/* import Indie Flower from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/* import Exo 2 from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,600');

/* import Lora from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lora:300,400,600');

/* import ibm plex sans from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,600');

/* import Manjari from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Manjari:300,400,600');

/* setting vars */
:root {
    --brand-color: #00B562;
    --brand-color-light: #00B56222;
    --background: #f4f4f4;
    --background-dark: #e9e9e9;
    --element: #ffffff;
    --text: #000000;
    --text-light: #00000055;
    --border: #00000022;
    --border-light: #00000011;
    --shadow: 0px 0.5px 3px #00000012;
    --font-family: "Inter";
    --text-transform: none;
}

/* setting basic CSS */
html {
    height: -webkit-fill-available;
}

* {
    font-family: var(--font-family);
    -webkit-tap-highlight-color: transparent;
    text-transform: var(--text-transform);
    -webkit-touch-callout: none;
    user-select: none !important;
}

body {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--text);
    overflow: hidden;
}

/* darkmode */
@media screen and (prefers-color-scheme: dark) {
    :root {
        --brand-color: #00B562;
        --background: #0f0f0f;
        --element: #181818;
        --text: #FFFFFF;
        --text-light: #ffffff55;
        --border: #ffffff22;
        --border-light: #ffffff11;
        --shadow: 0px 0.5px 3px #00000042;
    }
}

#content {
    margin-top: 24px;
    padding: 24px;
    padding-top: calc(180px - 28px + 24px);
    overflow-y: scroll;
    height: calc(100% - 115px - env(safe-area-inset-bottom) - calc(24px*2) - 105px - 24px);
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.list a {
    width: 100%;
}

.list.group {
    gap: 0px;
    border-radius: 12px;
    overflow: hidden;
    background: var(--element);
    box-shadow: var(--shadow);
}

.list.group .mainItem {
    margin: 0px;
    border-radius: 0px;
}

.list.group .mainItem, .list.group a {
    border-bottom: 1px solid var(--border);
}

.list.group .mainItem:first-child , .list.group a:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.list.group .mainItem:last-child, .list.group a:last-child {
    border-bottom: none !important;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* animations */
@keyframes TabNameString {
    0% {
        transform: translateX(-15px);
        opacity: 0%;
    }
    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}

@keyframes TabNameStringUp {
    0% {
        transform: translateY(15px);
        opacity: 0%;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes TabNameStringForwards {
    0% {
        transform: scale(80%);
        opacity: 0%;
    }
    100% {
        transform: scale(100%);
        opacity: 100%;
    }
}

.notification {
    background: #222;
    color: #fff;
    padding: 9px 16px;
    border-radius: 18px;
    margin-top: calc(env(safe-area-inset-top) - 5px);
    box-shadow: 0px 1px 3px #00000050 !important;
    max-width: 55vw;
}

.notification.island {
    position: absolute;
    top: 0;
    width: 198px;
    border-radius: 0;
    box-shadow: none !important;
    background: #000 !important;
    margin-top: -15px;
    padding-top: 45px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.notification.error {
    background: #F13232;
}

.notification.success {
    background: #00B562;
}

a {
    text-decoration: none;
    color: inherit;
}

#loginMain {
    --padding: 28px;

    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - var(--padding) * 2);
    height: calc(100vh - var(--padding) * 2);

    padding: var(--padding);
    padding-top: calc(env(safe-area-inset-top) + var(--padding) / 1.5);
    
    background: linear-gradient(16.4deg, #00B562 38.91%, #1A8DCE 100%);

    color: #fff;

    overflow-y: scroll;
}

#loginMain #logo {
    height: 24px;
    filter: invert(1);
}

@media screen and (prefers-color-scheme: dark) {
    #loginMain #logo {
        filter: invert(1);
    }
}

#loginMain .topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#loginMain .terms {
    opacity: 0.5;
    padding: 5px 10px;
    margin-right: -5px;
    margin-top: 1px;
    border-radius: 5px;
}

#loginMain h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    
    margin: 0;
    margin-top: 24px;

    color: #fff;
}

#loginMain p.desc {
    font-size: 17px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 21px;
    opacity: 0.5;
}

#loginMain .quietLoading {
    top: calc(0px + env(safe-area-inset-top));
}

#loginMain .quietLoadingBar {
    background: #fff;
}

.vfm {
    z-index: 999999999999999999999999999999 !important;
}

.vfm__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vfm__overlay {
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.modal {
    width: 95vw;
    height: 70vh;
    background: var(--background);
    overflow: hidden;

    position: absolute;
    left: 2.5vw;
    bottom: calc(env(safe-area-inset-bottom) + 10px);

    border-radius: 12px;

    transition: transform 0.1s ease-in-out;
}

.modal * {
    padding: 0;
    margin: 0;
}

.modal-header {
    background: var(--element);
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-header p {
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
    margin-top: 2px;
}

.modal-header small {
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
    opacity: 0.5;
}

.modal-content {
    padding: 0px;
    height: calc(100% - 72px);
    overflow-y: scroll;
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
}

.modal-content-item {
    display: flex;
    padding: 17px 24px;
    align-items: center;
    gap: 12px;
    border-top: 1px solid var(--border);
}

.modal-content-item p {
    font-size: 17px;
    margin-top: 0px;
    font-weight: 700;
    color: var(--text);
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content button {
    background: var(--brand-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.quietLoading {
    position: fixed;
    top: 180px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: var(--border);
    overflow: hidden;
    border-radius: 300px;
    z-index: 99999999999;
}

.quietLoadingBar {
    width: 0%;
    height: 100%;
    background: var(--brand-color);
    border-radius: 300px;
    position: absolute;
    top: 0;
    left: 0;
    animation: quietLoading 1s linear infinite;
}

@keyframes quietLoading {
    0% {
        opacity: 1;
        width: 50%;
        transform: translateX(-50vw);
    }
    100% {
        width: 50%;
        transform: translateX(100vw);
    }
}

.swipe {
    overflow-x: scroll !important;
    overflow-y: hidden;
    width: calc(100% + 48px);
    margin-left: -24px;
}

.swipe .list {
    padding: 0px 24px;
    width: calc(100% - 47px) !important;
}

@supports not (-webkit-touch-callout: none) {
    .swipe .list {
        padding: 0px 24px;
        width: inherit;
    }
}

.swipe .list.group {
    margin: 0px 24px;
    width: calc(100% - 47px) !important;
    padding: 0;
}

.swipe .noItem {
    width: calc(100vw - (50px * 2) + 1px) !important;
    margin: 0 !important;
    padding: 0px 50px !important;
}

.modal-content .categoryTitle {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
    padding-bottom: 5px !important;
    border-bottom: 1px solid var(--border);
    margin-bottom: 12px;
    margin-top: 24px;
}

.modal-content-header {
    padding: 15px 20px;
}

.categoryTitle.next {
    margin-top: 0px;
}

.file {
    width: calc(100% - 18px * 2);
    background: var(--element);
    color: var(--text);
    border-radius: 8px;
    padding: 14px 18px;
}

.modal-header small {
    text-transform: none;
}

hr {
    margin: 20px 0px;
    opacity: 0.2;
}

vwave div {
    /* filter: blur(10px); */
}

/* input type checkbox */
input[type="checkbox"] {
    padding: 10px;
}

.link {
    color: inherit;
    text-decoration: underline !important;
}